.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f5eeda;
    border: 2px solid #4a4a4a;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-header,
.card-footer {
    position: relative;
    z-index: 1;
}

.card-header {
    padding: 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-color-1 {
    background-color: rgba(44, 93, 61, 0.8);
}

.header-color-2 {
    background-color: rgba(131, 63, 147, 0.8);
}

.header-color-3 {
    background-color: rgba(56, 86, 161, 0.8);
}

.card-point {
    font-weight: 700;
    margin: 0;
}

.card-center {
    position: absolute;
    inset: 0;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(253, 251, 248, 0.5);
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-list {
    display: flex;
    gap: 4px;
}

.token {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}