.my-inventory-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg-primary);
    border: 4px solid black;
    border-radius: 12px;
    padding: 15px 25px;
    box-shadow: inset -6px -6px 0px 0px #c7b265, #2d334b 2px 2px 0px;
    height: 100px;
    gap: 20px;
}

.left-inventory-area, .center-inventory-area, .right-inventory-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bring Token Area */
.left-inventory-area {
    flex: 1;
    gap: 10px;
    height: 100%;
    border: 4px double var(--color-text-primary);
    border-radius: 12px;
    padding: 15px 25px;
}

.bring-token-area {
    display: flex;
    gap: 12px;
}

.bring-token {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    pointer-events: none;
    position: relative;
    z-index: 1;
    transform: translateZ(1px);
}

/* My Object PlayerHand */
.center-inventory-area {
    flex: 5;
    gap: 15px;
}

.my-token-count {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 20px;
}

.my-object-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.my-info-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.my-token-area, .my-card-area {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.my-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    border-radius: 20%;
    background-color: #eee;
    border: 2px solid #ccc;
}

.my-token-info {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-reserved-area {
    display: flex;
    gap: 8px;
    margin-left: 40px;
}

.my-reserved-card {
    width: 50px;
    height: 60px;
    background-color: var(--color-object-primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.my-empty-reserved-card {
    width: 50px;
    height: 60px;
    background-color: var(--color-bg-primary);
    border-radius: 8px;
    border: 1px dashed #999;
    box-shadow: none;
    flex-shrink: 0;
}

.right-inventory-area {
    flex: 1;
    gap: 10px;
}

.turn-time {
    flex: 1;
    font-weight: bold;
    color: var(--color-text-primary);
}