.lobby-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lobby-card {
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: inset -6px -6px 0px 0px #cfcfcf, var(--shadow-clickable);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.join-section {
    display: flex;
    gap: 10px;
}