:root {
  --color-bg-base: #FDF3D9;
  --color-bg-primary: #FEEB9E;
  --color-bg-secondary: #FDD67C;
  --color-border-primary: #E4A94B;
  --color-text-primary: #8D5A2A;
  --color-object-primary: #FFC2A0;

  --cursor-primary: url("@/assets/icons/cursor.png") 14 0, pointer;
}
