@import "./variables.css";
@import "./fonts.css";
@import "./buttons.css";
@import "./animation.css";
@import "inputs.css";

* {
    cursor: var(--cursor-primary)
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-base);
    background-image: url("@/assets/icons/cat-paw.svg");
    background-repeat: repeat;
    background-size: 120px 120px;
}

a {
    color: var(--color-border-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

table {
    border-collapse: collapse;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.token-Diamond { background-color: #d9cce8; border-color: #9063da; }
.token-Sapphire { background-color: #bbdefb; border-color: #64b5f6; }
.token-Emerald { background-color: #c8e6c9; border-color: #81c784; }
.token-Ruby { background-color: #ffcdd2; border-color: #e57373; }
.token-Onyx { background-color: #e0e0e0; border-color: #9e9e9e; }
.token-Gold { background-color: #fff0be; border-color: #f0c419; pointer-events: none; }