:root {
  --color-bg-base: #FDF3D9;
  --color-bg-primary: #FEEB9E;
  --color-bg-secondary: #FDD67C;
  --color-border-primary: #E4A94B;
  --color-text-primary: #8D5A2A;
  --color-object-primary: rgba(160, 255, 165, 0.34);

  --border-thin: 2px solid black;
  --border-thick: 4px solid black;

  --cursor-primary: url("@/assets/icons/cursor.png") 14 0, pointer;
  --shadow-clickable: #2d334b 2px 2px 0px;
}
