:root {
  --color-bg-base: #FDF3D9;
  --color-bg-primary: #FEEB9E;
  --color-bg-secondary: #FDD67C;
  --color-border-primary: #E4A94B;
  --color-text-primary: #8D5A2A;
  --color-object-primary: #FFC2A0;

  --border-thin: 2px solid black;
  --border-thick: 4px solid black;

  --cursor-primary: url("@/assets/icons/cursor.png") 14 0, pointer;
  --shadow-clickable: #2d334b 2px 2px 0px;

  .token-Diamond { background-color: #d9cce8; border-color: #9063da; }
  .token-Sapphire { background-color: #bbdefb; border-color: #64b5f6; }
  .token-Emerald { background-color: #c8e6c9; border-color: #81c784; }
  .token-Ruby { background-color: #ffcdd2; border-color: #e57373; }
  .token-Onyx { background-color: #e0e0e0; border-color: #9e9e9e; }
  .token-GOLD { background-color: #ffd166; border-color: #f0c419; }
}
